<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="jumbotron">
        <p>Thank you for choosing Affari</p>
        <h3>One more step to go...</h3>
        <p>
            Please click the below button or copy paste activation link in browser to activate your account.
        </p>
        <a href="localhost:5000/activate/{{key}}">localhost:5000/activate/{{key}}</a>
    </div>
</body>
</html>
