<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="../static/formValidation.js"> </script>
    <title>Document</title>
</head>
<body>
    <div class="jumbotron" style="max-width: 400px;">
        <div style="text-align: center;">
            <h3> Affari</h3>
            <h4><span>Enter new password</span></h4>
        </div>
        <!-- <form action="#" method="POST">
            <input type="password" name="password">
            <input type="submit" class="btn btn-primary">
        </form> -->

        <form action="#" method="POST">
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input required type="password" class="form-control" id="inputPassword" name="password" onkeyup='check();'>
            </div>
            <div class="form-group">
                <label for="inputRePassword">Confirm Password</label>
                <input required type="password" class="form-control" id="inputRePassword" onkeyup='check();'>
                <small id="message"></small>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" id='passwordResetSubmit' disabled>Submit</button>
            </div>
            
          </form>
    </div>
</body>
</html>